@charset "UTF-8";
html {
	background-color: black
}
body header {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: x-large;
	font-style: normal;
	color: mediumpurple;
	font-weight: bold;
	text-align: center;
}
nav {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: medium;
	font-style: normal;
	text-color: lavender;
	font-weight: bold;
	border-color: mediumpurple;
	border-style: outset;
	border-width: 2px;
	border-radius: 5px;
	text-align: center;
	padding: 12px;
}
body nav {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: medium;
	font-style: normal;
	text-color: lavender;
	font-weight: bold;
	border-color: mediumpurple;
	border-style: outset;
	border-width: 2px;
	border-radius: 5px;
	text-align: center;
	padding: 12px;
}
body h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: x-large;
	font-style: normal;
	color: lavender;
	font-weight: bold;
	text-align: center;
	font-style: oblique;
}
body section {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: large;
	font-style: normal;
	color: lavender;
	font-weight: bold;
	text-align: center;
}
.last_updated {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: small;
	font-style: normal;
	color: lavender;
	font-weight: normal;
	text-align: center;
}